main {
    margin-left: 150px;
}

label {
    color:black;
    padding-bottom: 5px;
}

h1 {
    padding-bottom: 40px;
    padding-top: 40px;
    font-weight: 700;
}
td {
    padding: 5px;
   
}
tr {
    padding-top: 10px;
}
tbody {
    padding:10px;
}

.createForm {
    background-color: rgb(235, 238, 240) !important;
    border-radius: 2%;
    border: 1px solid rgb(212, 206, 206);
    width: 1050px;
    height: 120px;
    padding-top: 17px;
    padding-left: 10px;
    justify-content: center;
}

.rentForm, .availableForm {
    padding-top: 100px;
}

.items {
    width: 300px;
    height: 48px;
    border: 1px solid rgb(214, 211, 211);
}

.types {
    width: 240px;
    height: 48px;
    border: 1px solid rgb(214, 211, 211);
    text-align: right;
}

.submitRent {
    height: 45px;
    width: 150px;
    margin-top: 37px;
    margin-left: 20px;
}

img {
    margin-right: 5px;
    margin-bottom: 5px;
}


